<!--div ng-include="'components/navbar/navbar.html'"></div-->

<header class="hero-unit" id="banner">
  <div class="container">
    <h3>Logistics Platform</h3>
    <!--p class="lead">Try to deliver your products with us!</p-->
  </div>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="bower_components/web3/dist/web3.min.js"></script>
  <script src="bower_components/truffle-contract/dist/truffle-contract.min.js"></script>
  <script src="bower_components/qrcode-generator/js/qrcode.js"></script>
  <script src="bower_components/angular-qrcode/angular-qrcode.js"></script>
  <style>
  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  table tr:first-child {
    background-color: #C0C0C0;
  }
  </style>
</header>

<!-- For simple styling and transitions, include "angular-accordion.css". You can edit styles to meed your look and feel -->
<div ng-controller="MainCtrl as ctrl">
<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTabIndex">
   <md-tab label="Регистрация">
     <md-content class="md-padding">
       <div class="container">
         <div class="row">
           <div class="col-lg-12">
             <div class="md-padding" ng-cloak layout="column">

               <!-- КОНТРАГЕНТ -->
               <md-card md-whiteframe="12">
                 <md-card-content>
                   <md-input-container>
                     <label>Номер счета</label>
                     <md-autocomplete class = "pull-left"
                         ng-disabled="false"
                         md-no-cache="true"
                         md-selected-item="acc"
                         md-items="acc in ctrl.accs"
                         md-search-text="newContragent.account"
                         md-item-text="newContragent.account"
                         md-min-length="0"
                         md-clear-button="false"
                         md-require-match="false"
                         style="width: 27em;"
                         placeholder="Введите или выберите номер счета">
                       <md-item-template>
                         <span md-highlight-flags="^i">{{acc}}</span>
                       </md-item-template>
                     </md-autocomplete>
                      <!--md-select ng-model="newContragent.account">
                       <md-option ng-repeat="acc in ctrl.accs" ng-value="acc">
                         {{acc}}
                       </md-option>
                     </md-select-->
                   </md-input-container>

                   <div layout="row">
                     <md-input-container>
                       <label>Название</label>
                       <input ng-model="newContragent.name" size="100">
                     </md-input-container>

                     <md-input-container>
                       <label>ИНН</label>
                       <input ng-model="newContragent.INN">
                     </md-input-container>

                     <md-input-container>
                       <label>ОГРН</label>
                       <input ng-model="newContragent.OGRN">
                     </md-input-container>
                   </div>

                   <md-button class="md-raised md-primary" ng-click="addContragent(newContragent.account, newContragent.name, newContragent.INN, newContragent.OGRN)">Добавить контрагента</md-button>
                 </md-card-content>
               </md-card>

               <!-- АКТИВНЫЕ КОНТРАГЕНТЫ  -->
               <md-card md-whiteframe="12">
                 <md-card-content>
                 <md-list flex>
                   <md-subheader class="md-no-sticky">Активные контрагенты</md-subheader>
                   <md-list-item class="md-3-line" ng-repeat="item in contragents" ng-click="null">
                     <div class="md-list-item-text" layout="column">
                       <h3>{{ item.name }}</h3>
                       <p>ИНН: {{ item.INN }}     ОГРН: {{ item.OGRN }}      {{ item.account }}</p>
                     </div>
                   </md-list-item>
                   <md-divider ></md-divider>
                 </md-list>
               </md-card-content>
              </md-card>

             </md-content>
          </div>
        </div>
      </div>
    </div>
   </md-tab>

    <!-- ОБМЕН ВАЛЮТЫ -->
    <md-tab label="Обмен валюты" md-on-select="exchangeAccountChanged()">
      <md-content class="md-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="md-padding" ng-cloak layout="column">

                <md-card md-whiteframe="12">
                  <md-card-content>
                    <div layout="row">

                      <md-input-container>
                        <label>Название</label>
                        <md-select ng-model="exchange.index" ng-change="exchangeAccountChanged()">
                          <md-option ng-repeat="contrag in contragents" ng-value="$index">
                            {{contrag.name}}
                          </md-option>
                        </md-select>
                      </md-input-container>

                      <md-input-container>
                        <label>Номер счета</label>
                        <input ng-model="contragents[exchange.index].account" ng-disabled="true" size="80"/>
                      </md-input-container>

                      <!--md-input-container>
                        <label>Номер счета</label>
                        <md-select ng-model="exchange.account" ng-change="exchangeAccountChanged()">
                          <md-option ng-repeat="acc in ctrl.accs" ng-value="acc">
                            {{acc}}
                          </md-option>
                        </md-select>
                      </md-input-container-->

                      <md-input-container>
                        <label>Баланс (ETH)</label>
                        <input ng-model="balance" ng-disabled="true">
                      </md-input-container>

                      <md-input-container>
                        <label>Баланс (CC)</label>
                        <input ng-model="balanceCC" ng-disabled="true">
                      </md-input-container>
                    </div>

                  </md-card-content>
                </md-card>

                <!-- ETHEREUM  -->
                <md-card md-whiteframe="12">
                  <md-card-content>
                    <div layout="row">
                      <md-input-container>
                        <label>Кол-во (ETH)</label>
                        <input type="number" ng-model="exchange.eth" ng-disabled="balance == 0" ng-change="exchangeToWei()"/>
                      </md-input-container>
                      <md-input-container>
                        <label>Кол-во (wei)</label>
                        <input ng-model="exchange.wei" ng-disabled="true" size="100"/>
                      </md-input-container>
                    </div>

                    <md-button class="md-raised md-primary" ng-if="exchange.eth != 0" ng-click="eth2cc()" ng-disabled="exchange.eth < 0 || exchange.eth > balance || progressEnabled">
                      <span>Обменять на CC
                        <md-tooltip md-direction="top" ng-if="exchange.eth < 0 || exchange.eth > balance">Указанное количество превышает текущий баланс ({{ balance }}) или является не валидным</md-tooltip>
                      </span>
                    </md-button>
                    <md-progress-linear ng-disabled="!progressEnabled" md-mode="indeterminate"></md-progress-linear>
                  </md-card-content>
               </md-card>

               <!-- CARGO COINS  -->
               <md-card md-whiteframe="12">
                 <md-card-content>
                   <div layout="row">
                     <md-input-container>
                       <label>Кол-во (CC)</label>
                       <input type="number" ng-model="exchange.cc" ng-disabled="balanceCC == 0" ng-change="exchangeToMicroCC()"/>
                     </md-input-container>
                     <md-input-container>
                       <label>Кол-во (microCC)</label>
                       <input ng-model="exchange.microCC" ng-disabled="true" size="100"/>
                     </md-input-container>
                   </div>

                   <md-button class="md-raised md-primary" ng-if="exchange.cc != 0" ng-click="cc2eth()" ng-disabled="exchange.cc < 0 || exchange.cc > balanceCC || progressEnabledCC">
                     <span>Обменять на ETH
                       <md-tooltip md-direction="top" ng-if="exchange.cc < 0 || exchange.cc > balanceCC">Указанное количество превышает текущий баланс ({{ balanceCC }}) или является не валидным</md-tooltip>
                     </span>
                   </md-button>
                   <md-progress-linear ng-disabled="!progressEnabledCC" md-mode="indeterminate"></md-progress-linear>
                 </md-card-content>

                 <!--div layout="row" layout-sm="column" layout-align="space-around">
                   <md-progress-circular md-mode="indeterminate" ng-disabled="!progressEnabled"></md-progress-circular>
                 </div-->
               </md-card>

              </md-content>
           </div>
         </div>
       </div>
     </div>
    </md-tab>

   <!-- ФОРМИРОВАНИЕ ЗАКАЗА -->
   <md-tab label="Создать контракт" md-on-select="tabOrder()">
     <md-content class="md-padding">
       <div class="container">
         <div class="row">
           <div class="col-lg-12">
             <div class="md-padding" ng-cloak layout="column">

               <!-- ОТПРАВИТЕЛЬ -->
               <md-card md-whiteframe="12">
                 <md-card-title>
                   <md-card-title-text>
                     <span class="md-headline">Отправитель</span>
                   </md-card-title-text>
                 </md-card-title>

                 <md-card-content>
                   <div layout="row">
                     <md-input-container>
                       <label>Название</label>
                       <md-select ng-model="sender" ng-change="tabOrder()">
                         <!--md-option><em>None</em></md-option-->
                         <md-option ng-repeat="contrag in contragents" ng-value="$index"> <!--  ng-disabled="$index === 1" -->
                           {{contrag.name}}
                         </md-option>
                       </md-select>
                     </md-input-container>

                     <md-input-container>
                       <label>ИНН</label>
                       <input ng-model="contragents[sender].INN" ng-disabled="true"/>
                     </md-input-container>

                     <md-input-container>
                       <label>ОГРН</label>
                       <input ng-model="contragents[sender].OGRN" ng-disabled="true"/>
                     </md-input-container>

                     <md-input-container>
                       <label>Номер счета</label>
                       <input ng-model="contragents[sender].account" ng-disabled="true" size="80"/>
                       <!--md-select ng-model="contragents[sender].account" ng-disabled="true">
                         <md-option ng-repeat="acc in ctrl.accs" ng-value="acc">
                           {{acc}}
                         </md-option>
                       </md-select-->
                     </md-input-container>
                   </div>
                 </md-card-content>
               </md-card>

               <!-- ПОЛУЧАТЕЛЬ -->
               <md-card md-whiteframe="12">
                 <md-card-title>
                   <md-card-title-text>
                     <span class="md-headline">Получатель</span>
                   </md-card-title-text>
                 </md-card-title>

                 <md-card-content>
                   <div layout="row">
                     <md-input-container>
                       <label>Название</label>
                       <md-select ng-model="receiver">
                         <!--md-option><em>None</em></md-option-->
                         <md-option ng-repeat="contrag in contragents" ng-value="$index"> <!--  ng-disabled="$index === 1" -->
                           {{contrag.name}}
                         </md-option>
                       </md-select>
                     </md-input-container>

                     <md-input-container>
                       <label>ИНН</label>
                       <input ng-model="contragents[receiver].INN" ng-disabled="true">
                     </md-input-container>

                     <md-input-container>
                       <label>ОГРН</label>
                       <input ng-model="contragents[receiver].OGRN" ng-disabled="true">
                     </md-input-container>

                     <md-input-container>
                       <label>Номер счета</label>
                       <input ng-model="contragents[receiver].account" ng-disabled="true" size="80"/>
                       <!--md-select ng-model="contragents[receiver].account" ng-disabled="true">
                         <md-option ng-repeat="acc in ctrl.accs" ng-value="acc">
                           {{acc}}
                         </md-option>
                       </md-select-->
                     </md-input-container>
                   </div>
                 </md-card-content>
               </md-card>

               <!-- ВЛАДЕЛЕЦ -->
               <md-card md-whiteframe="12">
                 <md-card-title>
                   <md-card-title-text>
                     <span class="md-headline">Владелец</span>
                   </md-card-title-text>
                 </md-card-title>

                 <md-card-content>
                   <div layout="row">
                     <md-input-container>
                       <label>Название</label>
                       <md-select ng-model="cargoOwner">
                         <!--md-option><em>None</em></md-option-->
                         <md-option ng-repeat="contrag in contragents" ng-value="$index"> <!--  ng-disabled="$index === 1" -->
                           {{contrag.name}}
                         </md-option>
                       </md-select>
                     </md-input-container>

                     <md-input-container>
                       <label>ИНН</label>
                       <input ng-model="contragents[cargoOwner].INN" ng-disabled="true">
                     </md-input-container>

                     <md-input-container>
                       <label>ОГРН</label>
                       <input ng-model="contragents[cargoOwner].OGRN" ng-disabled="true">
                     </md-input-container>

                     <md-input-container>
                       <label>Номер счета</label>
                       <input ng-model="contragents[cargoOwner].account" ng-disabled="true" size="80"/>
                       <!--md-select ng-model="contragents[receiver].account" ng-disabled="true">
                         <md-option ng-repeat="acc in ctrl.accs" ng-value="acc">
                           {{acc}}
                         </md-option>
                       </md-select-->
                     </md-input-container>
                   </div>
                 </md-card-content>
               </md-card>

               <!-- ЗАКАЗ -->
             <md-card md-whiteframe="12">
               <md-card-title>
                 <md-card-title-text>
                   <span class="md-headline">Маршрут</span>
                 </md-card-title-text>
               </md-card-title>

               <md-card-content>
             <div class="mycontainer">
                 <div class="left-nav">
                     <uib-accordion close-others="true"  style="color:#5f5f5f"><!-- isopen -->
                           <div uib-accordion-group  is-open="accordionIsOpen"
                                 ng-repeat="item in items" style="background-color:#efefef">
                               <uib-accordion-heading>
                                 {{item.desc}}
                                   <i class="pull-right glyphicon"
                                         ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                               </uib-accordion-heading>

                               <!--div ng-repeat="subitem in item.subitems">{{subitem.desc}}</div-->
                               <div layout="row">

                                 <md-input-container>
                                   <label>Грузоперевозчик</label>
                                   <md-select ng-model="item.carrier">
                                     <!--md-option><em>None</em></md-option-->
                                     <md-option ng-repeat="contrag in contragents" ng-value="$index"> <!--  ng-disabled="$index === 1" -->
                                       {{contrag.name}}
                                     </md-option>
                                   </md-select>
                                 </md-input-container>

                                 <md-input-container>
                                   <label>Номер счета грузоперевозчика</label>
                                   <input ng-model="contragents[item.carrier].account" ng-disabled="true" size="80"/>
                                   <!--md-select ng-model="contragents[item.carrier].account" ng-disabled="true">
                                     <md-option ng-repeat="acc in ctrl.accs" ng-value="acc">
                                       {{acc}}
                                     </md-option>
                                   </md-select-->
                                 </md-input-container>
                                 <md-input-container>
                                   <label>Стоимость (CC)</label>
                                   <input type="number" ng-model="item.price" ng-change="calcPrice()" ng-min="0.0000001">
                                   <md-tooltip md-direction="bottom" ng-message="min" ng-if="item.price  < 0.000001">Стоимость задания не должна быть меньше 0.000001 CC</md-tooltip>
                                   </input>
                                 </md-input-container>
                               </div>
                               <div layout="row">
                                 <md-card style="background-color:#dfdfdf">
                                   <md-card-title>
                                     <md-card-title-text>
                                       <span class="md-title" align="center">Загрузка</span>
                                     </md-card-title-text>
                                   </md-card-title>
                                   <md-card-content>
                                     <md-input-container>
                                       <label>Адрес</label>
                                       <input ng-model="item.pickup.address" size="100"/>
                                     </md-input-container>
                                     <md-input-container>
                                       <label>Название груза</label>
                                       <input ng-model="item.pickup.cargo.name" size="100"/>
                                     </md-input-container>
                                     <md-input-container>
                                       <label>Кол-во едениц груза</label>
                                       <input type="number" ng-model="item.pickup.cargo.amount" size="100"/>
                                     </md-input-container>
                                     <md-input-container>
                                       <label>Еденицы измерения груза</label>
                                       <input ng-model="item.pickup.cargo.units" size="100"/>
                                     </md-input-container>
                                     <md-datepicker ng-model="item.pickup.date" md-placeholder="Введите дату"></md-datepicker>
                                   </md-card-content>
                                 </md-card>

                                 <md-card style="background-color:#dfdfdf">
                                   <md-card-title>
                                     <md-card-title-text>
                                       <span class="md-title" align="center">Выгрузка</span>
                                     </md-card-title-text>
                                   </md-card-title>
                                   <md-card-content>
                                     <md-input-container>
                                       <label>Адрес</label>
                                       <input ng-model="item.dropdown.address" size="100"/>
                                     </md-input-container>
                                     <md-input-container>
                                       <label>Название груза</label>
                                       <input ng-model="item.dropdown.cargo.name" size="100"/>
                                     </md-input-container>
                                     <md-input-container>
                                       <label>Кол-во едениц груза</label>
                                       <input type="number" ng-model="item.dropdown.cargo.amount" size="100"/>
                                     </md-input-container>
                                     <md-input-container>
                                       <label>Еденицы измерения груза</label>
                                       <input ng-model="item.dropdown.cargo.units" size="100"/>
                                     </md-input-container>
                                     <md-datepicker ng-model="item.dropdown.date" md-placeholder="Введите дату"></md-datepicker>
                                   </md-card-content>
                                 </md-card>

                               </div>
                               <md-button class="md-warn pull-right" ng-disabled="progressPayEnabled" ng-click="deleteTrack(item.id)">Удалить</md-button>
                           </div>
                       </uib-accordion>
                       <md-button class="md-raised md-primary pull-left" ng-disabled="progressPayEnabled" ng-click="addTrack()">Добавить задание</md-button>
                 </div><br><br>
             </div>
           </md-card-content>

           </md-card>
           <md-card md-whiteframe="12">
             <md-card-title>
               <md-card-title-text>
                 <span class="md-headline">Оплата</span>
               </md-card-title-text>
             </md-card-title>
           <md-card-content>
             <div layout="row">
               <md-input-container>
                 <label>Текущий счет</label>
                 <input ng-model="contragents[sender].account" ng-disabled="true" size="80"/>
                 <!--md-select ng-model="contragents[sender].account" ng-change="getBalance()" ng-disabled="true">
                   <md-option ng-repeat="acc in ctrl.accs" ng-value="acc">
                     {{acc}}
                   </md-option>
                 </md-select-->
               </md-input-container>
               <md-input-container>
                 <label>Стоимость (CC)</label>
                 <input ng-model="price" ng-disabled="true">
               </md-input-container>
               <md-input-container>
                 <label>Баланс (CC)</label>
                 <input ng-model="balanceCC" ng-disabled="true">
               </md-input-container>
             </div>
             <div>
               <md-button class="md-raised md-primary pull-left" ng-click="transfer()" ng-disabled="balanceCC < price || progressPayEnabled">
                 <span>Оплатить заказ<md-tooltip md-direction="top" ng-if="balanceCC < price">Для оплаты заказа необходимо иметь достаточное число Cargo Coins на счету. Для покупки Cargo Coins перейдите на вкладку ОБМЕН ВАЛЮТЫ</md-tooltip></span>
               </md-button>
               <!--md-button class="pull-right" ng-click="cancel()">Отмена</md-button-->
             </div>
             <md-progress-linear ng-disabled="!progressPayEnabled" md-mode="indeterminate"></md-progress-linear>
           </md-card-content>
         </md-card>

          </div>
         </div>
       </div>
     </md-content>
   </md-tab>

   <!-- СТАТУС ЗАКАЗА -->
   <md-tab label="Статус контракта" md-on-select="readOrders()">
     <md-content class="md-padding">
       <div class="container">
         <div class="row">
           <div class="col-lg-12">
             <div class="md-padding" ng-cloak layout="column">

               <md-card md-whiteframe="12">
                 <md-card-content>
                   <md-progress-linear ng-disabled="!progressStatusEnabled" md-mode="indeterminate"></md-progress-linear>
                   <div class="mycontainer">
                     <div class="left-nav">
                       <div layout="row">

                         <div layout="column">
                           <md-input-container>
                             <qrcode ng-if="orders[orderIndex] != undefined" version="3" error-correction-level="M" size="100" data="{{orders[orderIndex].address}}"></qrcode>
                           </md-input-container>
                         </div>

                         <div layout="column">
                           <md-input-container width= "40px">
                           </md-input-container>
                         </div>

                         <div layout="column">

                           <div layout="row">
                             <md-input-container>
                               <label>Номер</label>
                               <md-select ng-model="orderIndex" ng-change="orderChanged(orderIndex)">
                                 <!--md-option><em>None</em></md-option-->
                                 <md-option ng-repeat="item in orders track by item.index" ng-value="$index"> <!--  ng-disabled="$index === 1" -->
                                   {{item.address}}
                                 </md-option>
                               </md-select>
                             </md-input-container>
                           </div>

                           <div layout="row">
                             <md-input-container>
                               <label>Владелец груза</label>
                               <input ng-if="orders[orderIndex] != undefined" ng-value="contragentName(orders[orderIndex].cargoOwner)" ng-disabled="true"/>
                             </md-input-container>
                             <md-input-container>
                               <label>Стоимость (CC)</label>
                               <input ng-if="orders[orderIndex] != undefined" ng-value="fromMicroCC(orders[orderIndex].price)" ng-disabled="true"/>
                             </md-input-container>

                             <md-input-container>
                               <label>Баланс (CC)</label>
                               <input ng-if="orders[orderIndex] != undefined" ng-value="orderBalanceCC" ng-disabled="true"/>
                             </md-input-container>

                             <md-input-container>
                               <label>Статус</label>
                               <input ng-if="orders[orderIndex] != undefined" ng-value="explainOrderState(orders[orderIndex])" ng-disabled="true"/>
                             </md-input-container>
                           </div>

                         </div>

                         <div layout="column">
                           <md-input-container>
                             <md-button class="md-raised md-primary pull-right"
                               ng-if="orderIndex < orders.length && orders[orderIndex].state == 0" ng-click="pay(orders[orderIndex])">Оплатить заказ</md-button>
                             <md-button class="md-warn pull-right"
                               ng-if="orderIndex < orders.length && canDismiss(orders[orderIndex])"
                               ng-disabled="progressStatusEnabled"
                               ng-click="dismiss(orders[orderIndex])">Отменить заказ</md-button>
                             <md-button class="md-raised md-primary pull-right"
                               ng-if="orderIndex < orders.length && orders[orderIndex].state == 1 && orders[orderIndex].activeTrack == orders[orderIndex].tracks.length"
                               ng-disabled="progressStatusEnabled"
                               ng-click="approve(orders[orderIndex], orders[orderIndex].tracks[orders[orderIndex].tracks.length-1])">Подтвердить получение</md-button>
                           </div>
                           </md-input-container>

                         </div>
                       </div>
                     </div>
               </md-card-content>
              </md-card>

               <md-card md-whiteframe="12">
                 <md-card-content>
                   <div layout="row">
                     <md-list flex>
                       <md-subheader class="md-no-sticky">Задания (всего {{ orders[orderIndex].tracks.length }} для {{ orders[orderIndex].address }})</md-subheader>
                       <md-list-item class="md-3-line" ng-if="orderIndex < orders.length" ng-repeat="item in orders[orderIndex].tracks track by item.index" ng-click="null">
                         <div class="md-list-item-text" layout="column">
                           <div>
                             <i class="material-icons md-48 pull-left">{{ getTrackIcon(item.state) }}</i>
                             <h3>  [{{ item.index }}] перевозчик: {{ contragentName(item.carrier) }} ({{ item.carrier }})</h3>
                              <md-button class="md-raised md-primary pull-right"
                                ng-if="orderIndex < orders.length && orders[orderIndex].state != 0 && orders[orderIndex].state != 3 && orders[orderIndex].activeTrack == item.index"
                                ng-disabled="progressStatusEnabled"
                                ng-click="approve(orders[orderIndex], item)">{{ getApproveButtonText(orders[orderIndex], item) }}
                              </md-button>
                           </div>
                           <table class="table">
                            <tr>
                              <th>Груз (загрузка)
                              </th>
                              <th>Груз (выгрузка)
                              </th>
                              <th>Статус
                              </th>
                              <th>Стоимость
                              </th>
                            </tr>
                            <tr>
                              <td>{{ getCargo(item.pickup.description) }}
                              </td>
                              <td>{{ getCargo(item.dropdown.description) }}
                              </td>
                              <td>{{ explainTrackState(item) }}
                              </td>
                              <td>{{ fromMicroCC(item.price) }} CC
                              </td>
                            </tr>
                          </table>
                           <!--p>статус: {{ explainTrackState(item) }}</p>
                           <p>стоимость: {{ fromMicroCC(item.price) }} CC</p-->
                         </div>
                       </md-list-item>
                       <md-divider ></md-divider>
                     </md-list>
                 </div>
               </md-card-content>
              </md-card>

             </md-content>
          </div>
        </div>
      </div>
    </div>
   </md-tab>

   <!-- АКТИВНЫЕ ЗАКАЗЫ -->
   <md-tab label="Активные контракты" md-on-select="readOrders()">
     <md-content class="md-padding">
       <div class="container">
         <div class="row">
           <div class="col-lg-12">
             <div class="md-padding" ng-cloak layout="column">
               <md-card md-whiteframe="12">
                 <md-card-content>
                   <md-progress-linear ng-disabled="!progressStatusEnabled" md-mode="indeterminate"></md-progress-linear>
                   <div layout="column">
                     <md-input-container ng-if="false">
                       <label>Поиск</label>
                       <input ng-model="filt.searchKeyword"/>
                     </md-input-container>
                     <table class="table">
                    	<tr>
                        <th ng-click="sortBy('item.order.index')">Время создания
                          <span class="sortorder" ng-if="filt.propertyName === 'item.order.index'" ng-class="{reverse: filt.reverse}"></span>
                    		</th>
                    		<th ng-click="sortBy('item.order.cargoOwner')">Владелец груза
                          <span class="sortorder" ng-if="filt.propertyName === 'item.order.cargoOwner'" ng-class="{reverse: filt.reverse}"></span>
                    		</th>
                    		<th ng-click="sortBy('item.track.carrier')">Перевозчик
                          <span class="sortorder" ng-if="filt.propertyName === 'item.track.carrier'" ng-class="{reverse: filt.reverse}"></span>
                    		</th>
                    		<th ng-click="sortBy('item.track.pickup.address')">Откуда
                          <span class="sortorder" ng-if="filt.propertyName === 'item.track.pickup.address'" ng-class="{reverse: filt.reverse}"></span>
                    		</th>
                        <th ng-click="sortBy('item.track.dropdown.address')">Куда
                          <span class="sortorder" ng-if="filt.propertyName === 'item.track.dropdown.address'" ng-class="{reverse: filt.reverse}"></span>
                    		</th>
                    	</tr>
                    	<tr ng-repeat="item in orderTracks | filter:filt.searchKeyword | orderBy:filt.propertyName:filt.reverse" ng-click="showOrder(item.order, item.track)">
                    		<td>{{ getHashValue(item.track.assignment.date) }}
                    		</td>
                    		<td>{{ contragentName(item.order.cargoOwner) }}<br>
                          {{ item.order.cargoOwner }}
                    		</td>
                    		<td>{{ contragentName(item.track.carrier) }}<br>
                          {{ item.track.carrier }}
                    		</td>
                    		<td>{{ getHashValue(item.track.pickup.address) }}
                    		</td>
                        <td>{{ getHashValue(item.track.dropdown.address) }}
                    		</td>
                    	</tr>
                    </table>
                     <!--md-list flex>
                       <md-subheader class="md-no-sticky">Заказы (всего {{ orders.length }})</md-subheader>
                       <md-list-item class="md-3-line" ng-repeat="item in orders track by item.index" ng-click="selectOrder(item.index);">
                         <div class="md-list-item-text" layout="column">

                           <div layout="column">
                             <md-input-container height="20px"/>
                           </div>

                           <div layout="row">

                             <div class="pull-right" layout="column">
                              <qrcode version="3" error-correction-level="M" size="80" data="{{item.address}}"></qrcode>
                             </div>

                             <div layout="column">
                               <md-input-container width="20px">
                               </md-input-container>
                             </div>

                             <div layout="column">
                               <h3>  [{{ item.index }}] {{ item.address }}</h3>
                               <p>статус: {{ explainOrderState(item) }}</p>
                               <!--i class="material-icons md-48">{{ getOrderIcon(item.state) }}</i>
                               <p>текущее задание: {{ item.activeTrack }}</p>
                             </div>

                           </div>

                           <div layout="row">
                             <md-button class="md-warn pull-right"
                               ng-if="canDismiss(item)"
                               ng-disabled="progressStatusEnabled"
                               ng-click="dismiss(item)">Отменить</md-button>
                             <md-button class="md-raised md-primary pull-right"
                               ng-if="item.state == 0" ng-disabled="progressStatusEnabled" ng-click="pay(item)">Оплатить</md-button>
                             <md-button class="md-raised md-primary pull-right"
                               ng-if="item.state == 1 && item.activeTrack == item.tracks.length"
                               ng-disabled="progressStatusEnabled"
                               ng-click="approve(item, item.tracks[item.tracks.length-1])">Подтвердить получение</md-button>
                           </div>

                         </div>
                       </md-list-item>
                       <md-divider ></md-divider>
                     </md-list>
                     <md-list flex>
                       <md-subheader class="md-no-sticky">Задания (всего {{ orders[orderIndex].tracks.length }} для {{ orders[orderIndex].address }})</md-subheader>
                       <md-list-item class="md-3-line" ng-repeat="item in orders[orderIndex].tracks track by item.index" ng-click="null">
                         <div class="md-list-item-text" layout="column">
                           <div>
                             <i class="material-icons md-48 pull-left">{{ getTrackIcon(item.state) }}</i>
                             <h3>  [{{ item.index }}] перевозчик: {{ item.carrier }}</h3>
                              <md-button class="md-raised md-primary pull-right"
                                ng-if="orders[orderIndex].state != 0 && orders[orderIndex].state != 3 && orders[orderIndex].activeTrack == item.index"
                                ng-disabled="progressStatusEnabled"
                                ng-click="approve(orders[orderIndex], item)">{{ getApproveButtonText(orders[orderIndex], item) }}</md-button>
                           </div>
                           <p>статус: {{ explainTrackState(item) }}</p>
                           <p>стоимость: {{ fromMicroCC(item.price) }} CC</p>
                         </div>
                       </md-list-item>
                       <md-divider ></md-divider>
                     </md-list-->
                 </div>
               </md-card-content>
              </md-card>
             </md-content>
          </div>
        </div>
      </div>
    </div>
   </md-tab>

   <!-- ИСТОРИЯ ОПЕРАЦИЙ -->
   <md-tab label="История операций">
     <md-content class="md-padding">
       <div class="container">
         <div class="row">
           <div class="col-lg-12">
             <div class="md-padding" ng-cloak layout="column">
               <md-card md-whiteframe="12">
                 <md-card-content>
                   <table>
                     <tr ng-if="operations.length != 0">
                       <td>№</td>
                       <td>Дата</td>
                       <td>Номер заказа</td>
                       <td>Операция</td>
                       <td>Откуда</td>
                       <td>Куда</td>
                       <td>Номер счета</td>
                       <td>Сумма</td>
                     </tr>
                     <tr ng-repeat="x in operations">
                       <td>{{ $index + 1 }}</td>
                       <td>{{ x.date }}</td>
                       <td>{{ x.order }}</td>
                       <td>{{ getOpDescr(x.type) }}</td>
                       <td>{{ getHashValue(x.from) }}</td>
                       <td>{{ getHashValue(x.to) }}</td>
                       <td>{{ x.who }}</td>
                       <td>{{ x.amount }}</td>
                     </tr>
                   </table>
                 </md-card-content>
               </md-card>
             </md-content>
          </div>
        </div>
      </div>
    </div>
   </md-tab>

 </md-tabs>
 </div>
