<!--div ng-include="'components/navbar/navbar.html'"></div-->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Logistics Platform</h1>
    <p class="lead">Try to deliver your products with us!</p>
  </div>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="bower_components/web3/dist/web3.min.js"></script>
  <script src="bower_components/truffle-contract/dist/truffle-contract.min.js"></script>
</header>

<!-- For simple styling and transitions, include "angular-accordion.css". You can edit styles to meed your look and feel -->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div ng-controller="MainCtrl as ctrl" class="md-padding" ng-cloak layout="column">

        <!-- ОТПРАВИТЕЛЬ -->
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Отправитель</span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <div layout="row">
              <md-input-container>
                <label>Название</label>
                <input ng-model="sender.name">
              </md-input-container>

              <md-input-container>
                <label>ИНН</label>
                <input ng-model="sender.INN">
              </md-input-container>

              <md-input-container>
                <label>ОГРН</label>
                <input ng-model="sender.OGRN">
              </md-input-container>

              <md-input-container>
                <label>Номер счета</label>
                <md-select ng-model="sender.account">
                  <!--md-option><em>None</em></md-option-->
                  <md-option ng-repeat="acc in ctrl.accs" ng-value="acc"> <!--  ng-disabled="$index === 1" -->
                    {{acc}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>

        <!-- ПОЛУЧАТЕЛЬ -->
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Получатель</span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <div layout="row">
              <md-input-container>
                <label>Название</label>
                <input ng-model="receiver.name">
              </md-input-container>

              <md-input-container>
                <label>ИНН</label>
                <input ng-model="receiver.INN">
              </md-input-container>

              <md-input-container>
                <label>ОГРН</label>
                <input ng-model="receiver.OGRN">
              </md-input-container>

              <md-input-container>
                <label>Номер счета</label>
                <md-select ng-model="receiver.account">
                  <!--md-option><em>None</em></md-option-->
                  <md-option ng-repeat="acc in ctrl.accs" ng-value="acc"> <!--  ng-disabled="$index === 1" -->
                    {{acc}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>


      <!--h2 class="page-header">Заказ</h2-->

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Заказ</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>

      <div class="mycontainer">
          <div class="left-nav">
              <uib-accordion close-others="false"  style="color:#5f5f5f"><!-- isopen -->
                    <div uib-accordion-group  is-open="true"
                          ng-repeat="item in items" style="background-color:#efefef">
                        <uib-accordion-heading>
                          {{item.desc}}
                            <i class="pull-right glyphicon"
                                  ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </uib-accordion-heading>

                        <!--div ng-repeat="subitem in item.subitems">{{subitem.desc}}</div-->
                        <div>
                          <label for="pickup{{$index}}">Загрузка:   </label>
                          <a href="#" id="pickup{{$index}}" editable-text="item.pickup">{{item.pickup||'Пусто'}}</a>
                        </div>
                        <div>
                          <label for="dropdown{{$index}}">Выгрузка:   </label>
                          <a href="#" id="dropdown{{$index}}" editable-text="item.dropdown">{{item.dropdown||'Пусто'}}</a>
                        </div>
                        <div>
                          <label for="carrier{{$index}}">Грузоперевозчик:   </label>
                          <a href="#" id="carrier{{$index}}" editable-text="item.carrier.account">{{item.carrier.account||'Пусто'}}</a>
                        </div>
                        <div>
                          <label for="price{{$index}}">Стоимость:   </label>
                          <a href="#" id="price{{$index}}" editable-text="item.price">{{item.price||'Пусто'}}</a>
                        </div>
                        <div>
                          <label for="date{{$index}}">Дата:   </label>
                          <input type="date" id="date{{$index}}" name="input" ng-model="item.date" placeholder="yyyy-MM-dd" min="2017-01-01" max="2025-12-31" required />
                        </div>
                        <button class="btn btn-danger pull-right" ng-class="{disabled: false}" ng-click="deleteTrack(item.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Удалить</button>
                    </div>
                </uib-accordion>
                <button class="btn btn-primary pull-left" ng-click="addTrack()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить</button>
          </div><br><br>
          <div>
            <h4 class="page-header">Общая стоимость</h4>
            <label>{{price}}</label><br><br>
            <button class="btn btn-success pull-left" ng-class="{disabled: false}" ng-click="transfer()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Оплатить</button>
            <button class="btn btn-info pull-right" ng-class="{disabled: false}" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Отмена</button>
          </div>
          <div class="content">
          </div>
      </div>

    </md-card-content>
  </md-card>
</div>


  </div>
</div>


<footer class="footer">
  <div class="container">
      <p><img class="halfsize" src="assets/images/ethereum.png"/></p>
  </div>
</footer>
